/* ==UserStyle==
@name Example
@namespace Example.com
@version 1.0.0
@description someUserStyle
@author Me
==/UserStyle== */

@-moz-document url-prefix("https://meet.google.com/")
{
    :root {
        --background: hsl(0 0% 100%);
        --foreground: hsl(222.2 0% 4.9%);
        --faded: hsl(222.2 0% 24.9%);

        --layer: hsl(0 0% 96%);
        --border: hsl(222.2 0% 84.9%);

        --alert: hsl(5 90% 51%);
        --alertian: hsl(5, 90%, 91%);
        --alertish: hsl(5, 90%, 41%);
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --background: hsl(222.2 0% 4.9%);
            --foreground: hsl(210 40% 98%);
            --faded: hsl(210 40% 78%);

            --layer: hsl(222.2 0% 14.9%);
            --border: hsl(222.2 0% 24.9%);

            --alert: hsl(5 90% 41%);
            --alertian: hsl(5, 100%, 33%);
            --alertish: hsl(5, 100%, 23%);
        }
    }

    /* Now fine colours come */
    :root {
        --hotlane-on-background-color: var(--foreground);
    }

    /* Root View/Box */
    c-wiz {
        background: var(--background) !important;
    }

    /* Footer but not Controllers */
    .Sdwpn.P9KVBf {
        color: var(--foreground);
    }

    /* Red Button */
    .vLQezd {
        --gm3-icon-button-filled-container-color: var(--alert);
    }

    /* Secondaries */
    .P9KVBf .aLTxue,
    .P9KVBf .yB7uSc,
    .VYBDae-Bz112c-LgbsSe-OWXEXe-ornU0b {
        transition: filter 0.33s;
        --gm3-icon-button-filled-container-color: var(--layer);
        background: var(--layer);
    }

    .P9KVBf .aLTxue:hover,
    .P9KVBf .yB7uSc:hover,
    .VYBDae-Bz112c-LgbsSe-OWXEXe-ornU0b:hover {
        --gm3-icon-button-filled-container-color: var(--layer);

        filter: brightness(90%);
    }

    /* User Boxes */
    .P9KVBf {
        --gm3-sys-color-surface: var(--background);
        --gm3-sys-color-background: var(--background);
    }

    /* Status Panel (i.e. like who is presenting) */
    .MON6Vd {
        background: var(--layer);

        /* Its text */
        .uoYsj {
            color: var(--foreground);
        }
    }

    /* Badge */
    .fdZ55,
    .ns17te {
        --meet-badge-expanded-icon-background-color: var(--layer) !important;
        --meet-badge-expanded-background-color: var(--layer) !important;
    }

    .P9KVBf {
        --gm3-sys-color-surface-container: var(--layer);
        --gm3-sys-color-surface-container-high: var(--layer);
        --gm3-sys-color-on-surface-variant: var(--faded);

        /* Much of Text */
        --hotlane-on-background-color: var(--foreground);
        --hotlane-on-surface-variant-color: var(--faded);

        --gm3-sys-color-on-surface: var(--foreground);

        /* Box Borders */
        --gm3-sys-color-outline-variant: var(--border);

        --gm3-sys-color-surface-variant: var(--layer);

        --gm3-sys-color-surface-container-low: var(--layer);

        /* Alertian */
        .Y3DJRd {
            --gm3-icon-button-filled-container-color: var(--alertian);
        }
        .wXNcS {
            --gm3-sys-color-on-error: var(--alertish);
        }

        /* Message Boxes */
        --gm3-sys-color-inverse-on-surface: var(--background);

        /* Disable Ugly Links */
        --gm3-sys-color-primary: unset;

        --gm3-sys-color-surface-container-highest: var(--layer);
    }

    .PJU52b {
        --gm3-tooltip-plain-container-color: var(--layer);
        --gm3-tooltip-plain-supporting-text-color: var(--foreground);
    }

    /* Hardcoded BG on user/member cursor hover */
    .G70CKc {
        background: var(--layer);

        /* accidentially dropped debugger, but this should work */
        * {
            color: var(--foreground);
        }
    }

    /* Remove anti-aesthetic effects from meeting members' listbox */
    .R3Gmyc {
        border-style: none;
        background-color: transparent;
    }

    /* Audio Sinks */
    .EDp2nc {
        background: var(--layer);
    }

    /* valid subtitles text colour */
    .P9KVBf :where(.nMcdL) {
        color: var(--faded);
    }
}
